* {
    margin: 0; /* Margem */
    padding: 0; /* Espaçamento interno*/
}
/* CORPO DA PÁGINA */
body{
    background-color:rgb(159, 224, 157); /* Cor de fundo*/
     font-family: "Michroma", sans-serif;
     color:black; /* Cor padrão do texto */
     font-size: 16px; /* Tamanho padrão da fonte */
     line-height: 1.5; /* Espaçamento entre linhas */
}

/* CONTAINER PRINCIPAL */
.container{
    max-width: 1080px; /* Define largura máxima da página */
    margin: 40px auto; /* Centraliza horizontalmente e dá espaço em cima/baixo */
    padding: 40px; /* Espaçamento interno */
    background-color: rgba(166, 219, 97); /* Cor do fundo */
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); /* Sombra leve */
}

/* 0 --> deslocamento horizontal (não move para os lados)
    4px --> deslocamento vertical (sombra desce 4px)
    16px --> desfoque (quanto maior, mais "suave" fica a sombra)
    rgba (0, 0, 0, 04) --> cor da sombra */

nav{
    background-color: rgb(93, 185, 0);
    padding: 20px; /* Espaçamento interno */
    border-radius: 20px; /* Cantos arredondados */
    margin-bottom: 20px; /* Espaço abaixo do menu */
    text-align: center; /* Centraliza os links */
    font-weight: bold; /* Deixa a fonte em negrito */
}

nav a{
    color: #ffff; /* Cor do texto  */
    text-decoration: none; /* Remove sublinhado */
    margin: 0 10px; /* Espaço entre os links */
    font-weight: bold; /* Texto em negrito */
}

nav a:hover{
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse em cima */
}

h1{
    font-size: 40px;
    padding-left: 10px;
    color: black;
    border-left: 5px;
    margin-bottom: 10px;
}

h2{
    color:#00ffd5;
    margin-top: 20px; /* Espaço acima */
}

h3{
    color:#2600ff;
    margin-top: 15px;
}
/* Parágrafos */
p{
    margin-bottom: 12px;
}

/* Texto em negrito */
strong{
    color:rgb(58, 184, 201);
}